* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    color: #124;
    background-position: initial;
    background-size: cover;
    background-image: url('https://img.freepik.com/foto-gratis/disposicion-elementos-naturaleza-muerta-verano_23-2148968974.jpg?w=1380&t=st=1658329835~exp=1658330435~hmac=587dec608581eefbef04ca5473e9ea52c5bc022137d44e7dec276f60496dc84a');
}

/* ////////////////////////////////////////////////////////////////// */

.container .card.my-5 {
    backdrop-filter: blur(5px);
    background-color: #ffffffe0;
}
.chatContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.profileImg {
    max-width: 200px;
    height:auto;
}
.logContainer {
    width: 450px;
    border-radius: 10px;
    padding: 1rem 2rem;
    margin: 1rem 1rem 1rem 1rem;
    background-color: #fdefce;      
    background-image: linear-gradient(90deg, #fdefce 0%, #ffe2d6 100%);
}